@charset "UTF-8";
/*шрифты*/
@font-face {
  font-family: 'Helvetica Condensed';
  src: url("../fonts/Helvetica-Condensed.eot");
  src: url("../fonts/Helvetica-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Condensed.woff2") format("woff2"), url("../fonts/Helvetica-Condensed.woff") format("woff"), url("../fonts/Helvetica-Condensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica LT Std';
  src: url("../fonts/HelveticaLTStd-Light.eot");
  src: url("../fonts/HelveticaLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Light.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Light.woff") format("woff"), url("../fonts/HelveticaLTStd-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica LT Std';
  src: url("../fonts/HelveticaLTStd-Roman.eot");
  src: url("../fonts/HelveticaLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaLTStd-Roman.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica LT Std';
  src: url("../fonts/HelveticaLTStd-Bold.eot");
  src: url("../fonts/HelveticaLTStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLTStd-Bold.woff2") format("woff2"), url("../fonts/HelveticaLTStd-Bold.woff") format("woff"), url("../fonts/HelveticaLTStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  margin: 0;
  padding: 0; }

header {
  background-color: #55adb7;
  position: relative;
  border: 1px solid  #55adb7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 87px;
  margin: 0 auto;
  width: 100%; }

.container {
  overflow: hidden; }

.head_container {
  margin: 0 auto;
  max-width: 1024px;
  height: 87px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.logo_1 {
  width: 181px;
  height: 31px;
  color: #ffffff;
  font-family: "Cherry Swash";
  font-size: 40px;
  font-weight: 400;
  line-height: 25px;
  top: 25px;
  left: 55px;
  position: absolute;
  text-decoration: none; }

nav {
  padding: 0px;
  margin: 0px;
  width: 453px;
  height: 14px;
  top: 40px;
  position: absolute;
  right: 8px; }

.menu {
  margin: 0;
  padding: 0px;
  color: #dce3e4;
  font-family: "Helvetica Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase; }

.menu li.slash {
  display: inline;
  cursor: pointer; }
  .menu li.slash a {
    text-decoration: none;
    color: white;
    -webkit-transition: font-weight 0.2s ease out;
    -o-transition: font-weight 0.2s ease out;
    transition: font-weight 0.2s ease out; }
    .menu li.slash a:hover {
      font-weight: 600; }

.menu li.slash:after {
  content: " /";
  margin-left: 7px;
  margin-right: 10px; }

.menu li.slash:last-child:after {
  content: none; }

.menu li:hover {
  color: #ffffff; }

/* Как повесить транзишн */
.hidden_menu {
  display: none;
  width: 100%;
  height: auto;
  background: #32ADB5;
  text-align: center; }
  .hidden_menu .menu_item {
    border-top: 1px solid #bfbfbf;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    line-height: 40px;
    font-weight: 700; }
    .hidden_menu .menu_item:hover {
      background: #cbd3d3; }
      .hidden_menu .menu_item:hover a {
        color: #306366;
        -webkit-transition: color 0.2s ease-in;
        -o-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
        font-weight: 700; }
    .hidden_menu .menu_item a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      width: 100%;
      display: inline-block; }

.hidden_menu_off {
  display: block; }

.slider {
  width: 100%;
  height: 476px;
  overflow: hidden;
  position: relative; }

.sl__slide {
  position: relative;
  outline: none; }
  .sl__slide img {
    margin-top: -229px; }

.sl__slide .sl__text {
  padding: 0px;
  position: absolute;
  height: 91px;
  width: 517px;
  top: 130px;
  color: #e4e4e4;
  font-family: "Helvetica LT Std";
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.slider .slick-dots li {
  margin: 0px !important; }
  .slider .slick-dots li button:before {
    top: -51px;
    color: #ffffff;
    font-size: 10px;
    opacity: 1; }

.slider .slick-dots li.slick-active button:before {
  color: #69728c; }

@-webkit-keyframes buttons {
  0% {
    width: 233px;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
  25% {
    width: 238px;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  50% {
    width: 243px;
    -webkit-border-radius: 34px;
            border-radius: 34px; }
  75% {
    width: 238px;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  100% {
    width: 233px;
    -webkit-border-radius: 6px;
            border-radius: 6px; } }

@keyframes buttons {
  0% {
    width: 233px;
    -webkit-border-radius: 6px;
            border-radius: 6px; }
  25% {
    width: 238px;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  50% {
    width: 243px;
    -webkit-border-radius: 34px;
            border-radius: 34px; }
  75% {
    width: 238px;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  100% {
    width: 233px;
    -webkit-border-radius: 6px;
            border-radius: 6px; } }

.sl__button {
  color: white;
  position: absolute;
  border: 3px solid #afb1b4;
  width: 233px;
  height: 46px;
  top: 268px;
  text-align: center;
  color: #e4e4e4;
  font-family: "Helvetica LT Std";
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  cursor: pointer;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: 0.3s -webkit-border-radius ease-out;
  transition: 0.3s -webkit-border-radius ease-out;
  -o-transition: 0.3s border-radius ease-out;
  transition: 0.3s border-radius ease-out;
  transition: 0.3s border-radius ease-out, 0.3s -webkit-border-radius ease-out; }
  .sl__button:hover {
    -webkit-animation: buttons 2s linear infinite;
            animation: buttons 2s linear infinite;
    color: #32adb5;
    border: 3px solid #32adb5; }

.wrapper {
  margin-top: -30px; }

.text_zone {
  height: 443px;
  width: 1024px;
  position: relative;
  margin: 0 auto; }
  .text_zone .text_title {
    margin: 0 auto;
    position: absolute;
    left: 197px;
    top: 84px;
    width: 629px;
    height: 77px;
    color: #4c505d;
    font-family: "Helvetica LT Std";
    font-size: 30px;
    font-weight: 300;
    line-height: 49px;
    text-align: center; }

.text_zone span.text_title {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .text_zone span.text_title b {
    font-family: "Helvetica LT Std - Roman";
    font-weight: 400;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.text_zone .text_content {
  margin: 0 auto;
  position: absolute;
  width: 853px;
  height: 36px;
  color: #4c505d;
  font-family: "Helvetica LT Std - Roman";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  top: 200px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

#cart {
  position: absolute;
  left: 299px;
  top: 310px; }
  #cart:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

#earth {
  position: absolute;
  left: 483px;
  top: 307px; }
  #earth:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

#back {
  position: absolute;
  left: 663px;
  top: 310px; }
  #back:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.green_zone {
  height: 468px;
  background-color: #00d089;
  position: relative;
  outline: none; }
  .green_zone .slidee {
    width: 1024px;
    margin: 0 auto;
    outline: none; }
    .green_zone .slidee .user {
      width: 500px;
      height: 300px;
      position: relative;
      margin: 0 auto; }
      .green_zone .slidee .user .photo_face {
        position: absolute;
        top: 94px;
        left: 50%;
        width: 159px;
        height: 199px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
      .green_zone .slidee .user .photo_name {
        position: absolute;
        width: 103px;
        height: 19px;
        color: #e4e4e4;
        font-family: "Helvetica LT Std";
        font-size: 26px;
        font-weight: 700;
        line-height: 58px;
        text-transform: uppercase;
        left: 75%;
        top: 80px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
      .green_zone .slidee .user .photo_img {
        position: absolute;
        width: 127px;
        height: 92px;
        left: 77.5%;
        top: 125px;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }

.photo_text {
  position: relative;
  width: 901px;
  height: 81px;
  color: #ffffff;
  font-family: "Helvetica LT Std";
  font-size: 17px;
  font-weight: 300;
  line-height: 32px;
  background-color: #00d089;
  top: -25px;
  margin: 0px auto; }

.map {
  background-image: url("../img/map.png");
  -webkit-background-size: cover;
          background-size: cover;
  height: 517px;
  position: relative; }

.circle {
  width: 430px;
  height: 430px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 52px;
  -webkit-border-radius: 221px;
          border-radius: 221px;
  z-index: 333;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

footer {
  width: 100%;
  height: 32px;
  background-color: #00d089;
  position: relative;
  text-align: center;
  padding-top: 3px; }

footer span {
  width: 224px;
  height: 11px;
  color: #ffffff;
  font-family: "Helvetica LT - Condensed";
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase; }

#contact {
  position: relative;
  width: 278px;
  height: 167px;
  left: 70px;
  top: 108px; }

#contact #name {
  position: absolute;
  width: 275px;
  height: 31px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  padding-left: 12px;
  font-size: 16px; }

#contact #email {
  position: absolute;
  top: 50px;
  width: 275px;
  height: 31px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  padding-left: 12px;
  font-size: 16px; }

#contact #message {
  position: absolute;
  top: 100px;
  width: 275px;
  height: 80px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff !important;
  padding-left: 12px;
  font-size: 16px;
  resize: none; }

#contact #ok {
  position: absolute;
  top: 207px;
  left: 111px;
  width: 66px;
  height: 67px;
  background-image: url("../img/Shape_5.png");
  -webkit-border-radius: 33px;
          border-radius: 33px;
  border: 1px solid #00d089;
  color: white;
  z-index: 999;
  cursor: pointer; }

.burger {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 4px;
  top: 14px;
  cursor: pointer; }
  .burger .fa-bars {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute; }
  .burger .fa-bars_on {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: none; }
  .burger .fa-times {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: none; }
  .burger .fa-times_off {
    font-size: 35px;
    color: #fff;
    top: 8px;
    position: absolute;
    display: block; }

@media (max-width: 1200px) {
  nav {
    display: none; }
  .burger {
    display: block; }
  .sl__slide img {
    margin-top: 0px; }
  .head_container {
    max-width: 970px; }
  .text_zone {
    max-width: 970px; }
  .green_zone .slidee {
    width: 970px; }
  .photo_name {
    left: 578px; }
  .photo_img {
    left: 469px; } }

@media (max-width: 992px) {
  nav {
    display: none; }
  .burger {
    display: block; }
  .sl__slide img {
    margin-top: 0px; }
  .head_container {
    max-width: 750px; }
  .text_zone {
    max-width: 750px; }
  .green_zone .slidee {
    width: 750px; }
  .text_zone .text_content {
    width: 641px; }
  .photo_text {
    width: 720px;
    font-size: 16px; }
  .photo_name {
    left: 466px; }
  .photo_img {
    left: 356px; }
  #cart {
    left: 201px; }
  #earth {
    left: 369px; }
  #back {
    left: 544px; }
  .map {
    height: 449px; }
  .circle {
    width: 370px;
    height: 370px;
    top: 39px; }
  #contact {
    left: 56px;
    top: 85px; }
    #contact #name {
      width: 243px; }
    #contact #email {
      width: 243px; }
    #contact #message {
      width: 243px; }
    #contact #ok {
      position: absolute;
      top: 204px;
      left: 100px;
      width: 55px;
      height: 55px;
      background-position: -6px -8px;
      -webkit-border-radius: 40px;
              border-radius: 40px; }
  .slick-list {
    height: 417px !important; } }

@media (max-width: 768px) {
  nav {
    display: none; }
  .burger {
    display: block; }
  .slider {
    height: 350px; }
  .sl__slide img {
    margin-top: 0px; }
  .sl__slide .sl__text {
    top: 100px; }
  .sl__button {
    top: 228px; }
  .head_container {
    max-width: 575px; }
  .text_zone {
    max-width: 575px; }
  .green_zone {
    height: 396px; }
    .green_zone .slidee {
      width: 575px; }
      .green_zone .slidee .user .photo_face {
        width: 105px;
        height: 163px;
        top: 60px; }
      .green_zone .slidee .user .photo_name {
        font-size: 22px;
        top: 50px;
        left: 72%; }
      .green_zone .slidee .user .photo_img {
        width: 80px;
        height: 57px;
        left: 70%;
        top: 100px; }
      .green_zone .slidee .photo_text {
        margin-top: -70px;
        width: 516px;
        line-height: 24px; }
  .text_zone .text_content {
    width: 575px; }
  .text_zone .text_title {
    width: 500px; }
  .text_zone #cart {
    left: 116px; }
  .text_zone #earth {
    left: 279px; }
  .text_zone #back {
    left: 454px; }
  .photo_face img {
    width: 85px; } }

@media (max-width: 593px) {
  nav {
    display: none; }
  .burger {
    display: block; }
  .slider {
    height: 262px; }
  .sl__slide img {
    margin-top: 0px; }
  .sl__slide .sl__text {
    top: 37px;
    width: 320px;
    font-size: 30px; }
    .sl__slide .sl__text span {
      font-size: 30px;
      line-height: 46px; }
  .sl__button {
    top: 138px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    left: -114px; }
  .head_container {
    max-width: auto; }
  .text_zone {
    max-width: 390px;
    height: 324px; }
  .green_zone {
    height: 276px; }
    .green_zone .slidee {
      width: 390px; }
      .green_zone .slidee .user .photo_face {
        width: 105px;
        height: 163px;
        top: 20px; }
      .green_zone .slidee .user .photo_name {
        font-size: 22px;
        top: 20px;
        left: 72%; }
      .green_zone .slidee .user .photo_img {
        display: none; }
      .green_zone .slidee .photo_text {
        width: auto;
        padding: 0 10px;
        margin-top: -147px;
        line-height: 24px; }
  .text_zone {
    height: 268px; }
    .text_zone .text_content {
      width: 375px;
      top: 135px; }
    .text_zone .text_title {
      width: 350px;
      font-size: 20px;
      top: 24px; }
    .text_zone #cart {
      display: none; }
    .text_zone #earth {
      display: none; }
    .text_zone #back {
      display: none; } }

@media (max-width: 375px) {
  nav {
    display: none; }
  .burger {
    display: block; }
  .slider {
    height: 262px; }
  .sl__slide img {
    margin-top: 0px; }
  .sl__slide .sl__text {
    top: 37px;
    width: 320px;
    font-size: 30px; }
    .sl__slide .sl__text span {
      font-size: 30px;
      line-height: 46px; }
  .sl__button {
    top: 138px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    left: -114px; }
  .head_container {
    max-width: auto; }
  .text_zone {
    max-width: 390px;
    height: 324px; }
  .green_zone {
    height: 276px; }
    .green_zone .slidee {
      width: 390px; }
      .green_zone .slidee .user {
        width: 300px; }
        .green_zone .slidee .user .photo_face {
          width: 105px;
          height: 163px;
          top: 20px;
          left: 100px; }
        .green_zone .slidee .user .photo_name {
          font-size: 22px;
          top: 20px;
          left: 72%; }
        .green_zone .slidee .user .photo_img {
          display: none; }
      .green_zone .slidee .photo_text {
        width: auto;
        padding: 0 10px;
        margin-top: -147px;
        line-height: 24px; }
  .text_zone {
    height: 268px; }
    .text_zone .text_content {
      width: 375px;
      top: 135px; }
    .text_zone .text_title {
      width: 350px;
      font-size: 20px;
      top: 24px; }
    .text_zone #cart {
      display: none; }
    .text_zone #earth {
      display: none; }
    .text_zone #back {
      display: none; } }
