/*шрифты*/
@font-face
    font-family: 'Helvetica Condensed'
    src : url('../fonts/Helvetica-Condensed.eot')
    src : url('../fonts/Helvetica-Condensed.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Condensed.woff2') format('woff2'), url('../fonts/Helvetica-Condensed.woff') format('woff'), url('../fonts/Helvetica-Condensed.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Helvetica LT Std'
    src : url('../fonts/HelveticaLTStd-Light.eot')
    src : url('../fonts/HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaLTStd-Light.woff2') format('woff2'), url('../fonts/HelveticaLTStd-Light.woff') format('woff'), url('../fonts/HelveticaLTStd-Light.ttf') format('truetype')
    font-weight: 300
    font-style: normal

@font-face
    font-family: 'Helvetica LT Std'
    src : url('../fonts/HelveticaLTStd-Roman.eot')
    src : url('../fonts/HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaLTStd-Roman.woff2') format('woff2'), url('../fonts/HelveticaLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaLTStd-Roman.ttf') format('truetype')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'Helvetica LT Std'
    src : url('../fonts/HelveticaLTStd-Bold.eot')
    src : url('../fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaLTStd-Bold.woff2') format('woff2'), url('../fonts/HelveticaLTStd-Bold.woff') format('woff'), url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype')
    font-weight: bold
    font-style: normal
